h1{
    text-align: center;
}

.image1{
    width: 25%;
    margin: 20px 30px;
    border:5px solid;
}

.image2{
    width: 25%;
    margin: 20px 30px;
    border:5px dotted;
}

.image3{
    width: 25%;
    margin: 20px 30px;
    border:5px dashed;
}

.image4{
    width: 25%;
    margin: 20px 30px;
    border:10px double;
}

.image5{
    width: 25%;
    margin: 20px 30px;
    border:10px groove;
}

.image6{
    width: 25%;
    margin: 20px 30px;
    border:10px ridge;
}

.image7{
    width: 25%;
    margin: 20px 30px;
    border:10px inset;
}

.image8{
    width: 25%;
    margin: 20px 30px;
    border:10px outset;
}

.image9{
    width: 25%;
    margin: 20px 30px;
    border-style: hidden;
}