
/* #p1{
    font-size: 2em;
    color: aliceblue;
    background-color: hsla(0, 89%, 0%, 1.0);
    margin: 10px;
}

#p2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    font-stretch: condensed;
    margin: -15px;
    margin-left: 200px;
} */

/* #div1{
    width: 25%;
    height: 200px;
    float: left;
    background-color: rgb(255, 0, 0);
} */

/* #div2{
    border: solid black 1px;
    background-color: aqua;
    margin-inline: 35px;
} */

/* #div3{
    width: 25%;
    height: 200px;
    float: left;
    background-color: rgb(255, 0, 0);
} */