h1{
    padding: 0;
    margin: 0;
}

.box1{
    display: flex;
    justify-content: start;
    background-color: aqua;
    width: 250px;
    height: 200px;
    color: black;
    margin: 10px;
}

.box2{
    display: flex;
    justify-content: center;
    background-color: chartreuse;
    width: 250px;
    height: 200px;
    color: black;
    margin: 10px;
}

.box3{
    display: flex;
    justify-content: end;
    background-color: rgb(246, 131, 211);
    width: 250px;
    height: 200px;
    color: black;
    margin: 10px;
}